
body {
width: 100vh;
height: 100vh;
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

body {
  margin: 0;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
}

.container {
  position: absolute;
  top: 20px;
  left: 50px;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 50%
}
.counter {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  color: white;
}

.visitor {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  font-weight: bold;
  color: white;
}



.menu {
  position: absolute;
  top: 40px;
  left: 900px;
  width: 500px;
  height: 20px;
}

.menu1 {
  width: 100px;
  height: 20px;
  position: relative;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: white; 
  font-weight: bold;
}

.menu1:hover {
  color: #8E54E9
}


.brain {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 60px;
  color: white;
}

h1 {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 10px;
  left: 120px;
}

.btn-grad {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)
  }

.btn-grad {
  position: relative;
  top: 200px;
  display: inline-block;
  margin: 20px;
  padding: 15px 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none;
  cursor: pointer;
 }

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
   box-shadow: 20px 40px 40px #00000033;
}

/*     
.card {
  height: 379px;
  width: 300px;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
    box-shadow: 20px 40px 40px #00000033;
    margin: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 300px;

 background: white;
}
*/
