* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fffdf9;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
}

.wrapper {
  min-width: 1100px;
  min-height: 600px;
  margin: 100px 0px 20px 0px;
  border-radius: 30px;
  padding: 20px 30px;
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  position: absolute;
  top: 20px;
  background: #f4f4f4;
  box-shadow: inset -6px -6px 15px rgba(255, 255, 255, 0.78),
    inset 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 54px;
  display: flex;
  font-size: 20px;
  color: #9a9a9a;
  padding: 20px 30px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.question-box {
  width: 250px;
  height: 250px;
}


.question {
  width: 250px;
  height: 250px;
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  opacity: 0;
  animation:  showImg 1s forwards;
}

.answer-box {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.answer-box > img {
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  opacity: 0;
  animation:  showImg 1s forwards;
}

@keyframes showImg {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#start {
  margin-top: 50px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 54px;
  border: none;
  cursor: pointer;
}

#start:hover {
  color: #F0C929;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
}

#next {
  margin-top: 50px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 54px;
  border: none;
  cursor: pointer;
}

#next:hover {
  color: #F0C929;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
}

.score {
  position:absolute;
  top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: grey;
}

.hide {
  display: none;
}

.hide2 {
  display: none;
}

.hide3 {
  display: none;
}
