@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap");

/*font-family: 'Baloo 2', cursive;
//font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Do Hyeon', sans-serif;
*/
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  position: absolute;
  width: 212px;
  height: 41px;
  left: 53px;
  top: 104px;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #8a9397;
}

.game-box {
  display: flex;
}

.grid-container {
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 590px;
  height: 590px;
  cursor: pointer;
}

.image-co {
  width: 580px;
  height: 580px;
  border: 1px solid black;
}

.color-box {
  margin-top: 100px;
  width: 100%;
}

.color-picker {
  margin: auto;
  width: 200px;
  height: 38px;
  font-family: "Baloo 2", cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */
  color: #000000;
}

.next-btn {
  width: 226px;
  height: 50px;
  border: none;
  background: #18a0fb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  color: #ffffff;
}

.grid {
  width: 50px;
  height: 50px;
  border: 0.5px solid black;
  border-collapse: collapse;
}

.controls-colors {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.controls-color {
  margin: 2px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.image {
  width: 580px;
  height: 580px;
}

.btn-box {
  margin: 15px 0px;
}