*{
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
  }
  .container {
    position: relative;
  }
  .top {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
     display: block;
  }
  
  .color-text{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }
  
  .text {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }
  
  .bottom {
    display: flex;
    width: 700px;
    height: 130px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
  }
  
  .color {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin: 10px;
    border: 3px solid black;
    cursor: pointer;
    transition: transform 300ms;
  }
  
  .color:hover {
    transform: scale(0.9);
  }
  
  .blue {
    background-color: Blue;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .purple {
    background-color: purple;
  }
  
  .explain {
    position: relative;
    top: 60px;
    text-align: center;
    font-weight: bold;
  }
  
  .correct {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: none;
    border: 15px solid rgb(38, 235, 48);
    border-radius: 50%;
    z-index: 2;
    position: relative;
    top: -120px;
    left: 15px;
    opacity: 0;
  }
  
  .wrong {
    font-size: 150px;
    align-items: center;
    justify-content: center;
    background-color: none;
    color: red;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    top: -300px;
    left: 20px;
    font-weight: bold;
    opacity: 0;
  }
  
  .fadeAway{
    animation: fadeAway 500ms;
  }
  @keyframes fadeAway {
    0% {opacity: 1}
    50% {opacity: 1}
    100% {opacity: 0}
  }