* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fffdf9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-width: 1100px;
  min-height: 600px;
  margin: 100px 0px 20px 0px;
  border-radius: 30px;
  padding: 10px 30px;
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  background: #f4f4f4;
  box-shadow: inset -6px -6px 15px rgba(255, 255, 255, 0.78),
    inset 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 54px;
  display: flex;
  font-size: 20px;
  color: #9a9a9a;
  padding: 20px 30px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  font-size: 30px;
}

.score {
  text-align: center;
  color: gray;
}

.card-box {
  margin-top: 30px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  width: 200px;
  height: 250px;
  margin: 0 10px;
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  opacity: 0;
  animation:  showImg 1s forwards;
}

@keyframes showImg {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.name-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.name {
  width: 200px;
  height: 80px;
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 0 10px;
}

.drag-area {
  display: flex;
  width: 600px;
  height: 100px;
  margin: 15px 0px;
  white-space: nowrap;
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.drag {
  margin: 20px;
  background: transparent;
  text-align: center;
  font-size: 35px;
  cursor: pointer;
}

#next {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  padding: 15px 45px;
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 54px;
  margin: 0px 0px 15px 0px;
}

#next:hover {
  color: #f0c929;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
}

#restart {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-top: 50px;
  padding: 15px 45px;
  background: #f4f4f4;
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 54px;
}

.hide {
  display: none;
}

.hide1 {
  display: none;
}
