* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: #f4f4f4;
  position: relative;
}

#start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 70px;
  font-size: 30px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 10;
}

#start-btn:hover {
  box-shadow: none;
}

.title {
  width: 60%;
  background: #f4f4f4;
  box-shadow: inset -6px -6px 15px rgba(255, 255, 255, 0.78),
    inset 6px 6px 16px rgba(0, 0, 0, 0.15);
  border-radius: 54px;
  display: flex;
  font-size: 20px;
  color: #9a9a9a;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

h3 {
  text-align: center;
  justify-content: center;
}

#next-btn {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 70px;
  font-size: 30px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#next-btn {
  box-shadow: none;
}

.hide {
  display: none;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: absolute;
  width: 1355px;
  height: 230px;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
}

.image-container > img {
  box-shadow: -6px -6px 15px rgba(255, 255, 255, 0.78),
    6px 6px 16px rgba(0, 0, 0, 0.15);
}

.option0 {
  width: 180px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.option1 {
  width: 180px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.option2 {
  width: 180px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.option3 {
  width: 180px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.option4 {
  width: 180px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.option5 {
  width: 180px;
  height: 230px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#game-text {
  position: absolute;
  width: 191px;
  height: 60px;
  left: 629px;
  top: 197px;

  font-family: Bai Jamjuree;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height */

  color: #000000;
}

.hide2 {
  display: none;
}

.quiz-over {
  position: absolute;
  width: 500px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  top: 197px;
  font-family: "Do Hyeon", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  /* identical to box height */
  color: #000000;
}

#restart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 70px;
  font-size: 30px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 10;
}

#restart:hover {
  box-shadow: none;
}
