
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap');

/*font-family: 'Baloo 2', cursive;
//font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Do Hyeon', sans-serif;
*/
body {
  width: 1450px;
  height: 850px;
}

.logo {
position: absolute;
width: 485px;
height: 44px;
left: 53px;
top: 43px;
font-family: 'Baloo 2', cursive;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 76px;

color: rgba(0, 0, 0, 0.72);
}

.game {
position: absolute;
width: 212px;
height: 41px;
left: 53px;
top: 104px;
font-family: 'Bai Jamjuree', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 45px;
color: #8A9397;
}

.image-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
position: absolute;
width: 606px;
height: 606px;
top: 120px;
left: calc(50% - 606px/2 + 20px);
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.game-text {
position: absolute;
width: 120px;
height: 38px;
left: 670px;
top: 49px;
font-family: 'Baloo 2', cursive;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
/* identical to box height */
color: #000000;
}

.hide {
  display: none;
}

.next-btn{
position: absolute;
width: 226px;
height: 50px;
left: 632px;
top: 750px;
border: none;
background: #18A0FB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
font-family: Bai Jamjuree;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 37px;

color: #FFFFFF;
}

li{
  width: 200px;
  height: 200px;
  background: url("https://source.unsplash.com/random");
  border: 1px solid black;
  background-size: 600px 600px
}

.list0 {
  background-position-x: 0px;
  background-position-y: 0px;
}

.list1 {
  background-position-x: -200px;
  background-position-y: 0px;
}

.list2 {
  background-position-x: -400px;
  background-position-y: 0px;
}

.list3 {
  background-position-x: 0px;
  background-position-y: -200px;
}

.list4 {
  background-position-x: -200px;
  background-position-y: -200px;
}

.list5 {
  background-position-x: -400px;
  background-position-y: -200px;
}

.list6 {
  background-position-x: 0px;
  background-position-y: -400px;
}

.list7 {
  background-position-x: -200px;
  background-position-y: -400px;
}

.list8 {
  background-position-x: -400px;
  background-position-y: -400px;
}