* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

h3 {
  text-align: center;
  justify-content: center;
  position: relative;
  top: 50px;
}

.container {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  border: 2px solid black;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: tomato;
  animation-name: boxDelay;
  animation-timing-function: linear;
  animation-duration: 2s;
  cursor: pointer;
}

@keyframes boxDelay {
  0%{transform: scale(1,1)}
  50%{transform: scale(1.2, 1.2)}
  100%{transform: scale(1,1)}
}

#circle0 {
  animation-delay: 0s
}

#circle1 {
  animation-delay: 2s
}

#circle2 {
  animation-delay: 4s
}

#circle3 {
  animation-delay: 6s
}

#circle4 {
  animation-delay: 8s
}

span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  animation-name: spanDelay;
  animation-timing-function: linear;
  animation-duration: 2s;
  opacity: 0;
}

@keyframes spanDelay {
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
}

.text0 {
  animation-delay: 0s
}

.text1 {
  animation-delay: 2s
}

.text2 {
  animation-delay: 4s
}

.text3 {
  animation-delay: 6s
}

.text4 {
  animation-delay: 8s
}

#start {
margin: 10px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #eee; border-radius: 10px;
display: block;
background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
border: none;
position: absolute;
left: 50%;
top: 300px;
transform: translateX(-50%);
font-size: 25px;
cursor: pointer;
z-index: 1;
}

#start:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
 }
         