body,
html {
  height: 100%;
  margin: 0;
  padding: 0
}

.swiper-container {
  min-height: 100%
}

@media screen and (min-width:1240px) {
  .swiper-slide {
    left: 7vw;
    padding-top: 2%
  }
}

@media screen and (min-width:1280px) {
  .swiper-slide {
    left: 9vw;
    padding-top: 2%
  }
}

@media screen and (min-width:1366px) {
  .swiper-slide {
    left: 14vw
  }
}

@media screen and (min-width:1440px) {
  .swiper-slide {
    left: 16vw;
    padding-top: 5%
  }
}

@media screen and (min-width:1600px) {
  .swiper-slide {
    left: 22vw
  }
}

@media screen and (min-width:1680px) {
  .swiper-slide {
    left: 22.5vw
  }
}

@media screen and (min-width:1920px) {
  .swiper-slide {
    left: 28vw
  }
}

@media screen and (min-width:2560px) {
  .swiper-slide {
    left: 36vw
  }
}

.card {
  position: relative;
  width: 100%;
  max-width: 1147px;
  height: 100%;
  max-height: 775px;
  border-radius: 17px;
  box-shadow: 0 30px 160px 0 rgba(0, 0, 0, .3), 0 40px 77px 0 rgba(0, 0, 0, .1);
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto
}

@media screen and (min-width:320px) {
  .card {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    box-shadow: none
  }
}

@media screen and (min-width:768px) {
  .card {
    max-height: none
  }
}

@media screen and (min-width:1024px) {
  .card {
    width: 100%;
    height: 100%;
    max-height: 775px;
    border-radius: 17px;
    box-shadow: 0 30px 160px 0 rgba(0, 0, 0, .3), 0 40px 77px 0 rgba(0, 0, 0, .1)
  }
}
